.weather-display {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
  font-weight: 100;

}
/*WHY DOES NESTING NOT WORK? */

.weather-display__header {
    font-weight: 100;
  }

.weather-display__sub-header {
    font-weight: 100;
  }
